<div class="row">
  <%= render partial: 'users/profile' %>
  <div class="col-lg-8">
    <div class="well">
      <h3><%= @heading %></h3>
      <br />
      <%= render partial: 'followings/following', collection: @followings %>
    </div>
  </div>
</div>
