<div class="row home-bg">
  <div class="col-lg-offset-2 col-lg-4 white-text">
    <br /><br /><br />
    <h1>Welcome to Statusify.</h1>
    <br /><br />
    <h3>Send status with your friends in an almost real-time.  Watch people talk and talk, be in the moment with others around the world.</h3>
  </div>
  <div class="col-lg-offset-2 col-lg-4">
    <br /><br /><br /><br />
    <div class="well">
      <h4>If you don't have an account... sign up for free.</h4>
      <br />
       <%= link_to new_user_registration_path, class: 'btn btn-lg btn-success' do %>
          Sign up
        <% end %>
    </div>
  </div>
</div>
